@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html {
  font-size: 10px;
  /* Adjust this value as needed */
}

body {
  text-align: center;
  background-color: rgb(245, 245, 245);
  font-family: 'Inter', sans-serif;
}

#diagrams-row {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 10px;

}


#perspective-column {
  min-height: 100%;
  width: 600px;
  min-width: 600px;
  flex-direction: column;

  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

#diagram {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

#perspective,
.perspective {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;

}

.prop-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Aligns input and label vertically */
  gap: 10px;
  /* Adds space between the label and input */
}

#container {
  background-color: white;
  max-width: 350px;
  min-width: 400px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;

  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



#time-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#playback-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

#playButton,
#restartButton {
  cursor: pointer;
  padding: 1px;
}

.icon {
  width: 14px;
  height: 14px;
  fill: #000;
  transition: fill 0.3s;
}

#playButton:hover .play-icon {
  fill: #007BFF;
}

#timestuff {
  background-color: white;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}




#addObjectBtn {
  padding: 10px 20px;
  font-size: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

#objectnamerow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
}

.object {
  background-color: white;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  min-width: 300px;
  min-height: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;

}

.object label {
  display: block;
  margin-bottom: 5px;
}

.object input {
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
}

.object .removeBtn {
  padding: 5px 10px;
  font-size: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04AA6D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04AA6D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}